<section class="heroImage sectionPadding">
  <div class="container">
    <div class="row mb-5 py-5">
      <div class="col-md-12">
        <app-navbar></app-navbar>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="inspiration">
          <h2 class="pri-heading">Inspire your inspiration</h2>
          <h3 class="sec-heading">
            Simple to use for your app, products showcase and your inspiration
          </h3>
          <p class="para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis
            venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu
            et eros porta lobortis sit
          </p>
          <ul class="brandLinks">
            <li *ngFor="let icon of iconsArray">
              <a href="javascript:;" [innerHTML]="icon"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <img src="../../../../assets/images/iPad.png" alt="iPad" title="iPad" />
      </div>
    </div>
  </div>
</section>