<section class="contact py-5">
   
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <h2 class="pri-heading mb-4">Tinyone features
                </h2>
                <h3 class="sec-heading mb-4">Lorem ipsum dolor asit amet, consectetur adipiscing elit. Praesent vitae eros
                    eget tellustristique bibendum. Donec rutrum sed sem quis venenatis.</h3>
                    <form class="form-inline mb-5">
                        <div class="form-group w-100">
                          <input type="text" class="form-control email" placeholder="Enter Your email">
                          <input type="button" value="Submit" class="ml-2 btn pri-btn">
                        </div>
                      </form>
                      <ul class="brandLinks mb-90">
                        <li *ngFor="let icon of iconsArray">
                          <a href="icon.link" [innerHTML]="icon.icon"></a>
                        </li>
                      </ul>
              
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
              <h2 class="pri-heading mb-4">Tinyone Features</h2>
              <h3 class="sec-heading mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h3>
              <form class="form-inline mb-5">
                <div class="form-group w-100">
                  <input type="text" class="form-control email" placeholder="Enter Your email">
                  <input type="button" value="Submit" class="ml-2 btn pri-btn">
                </div>
              </form>    
            </div>
          </div> -->
      <div class="row">
          <div class="col-md-3">
              <ul class="footerLinks">
                        <li >HALOVIETNAM LTD</li>
                        <li >66, dang van ngu, dong da</li>
                        <li >Hanoi , Vietnam</li>
                        <li >
                            <a href="mailto:conatct@halovietnam.com"></a>
                            contact@halovietnam.com</li>
                            
                        <li >
                            <a href="tel:9874561258"></a>
                               9874561258
                        </li>           
                    </ul>
          </div>
          <div class="col-md-1 offset-md-1">
            <ul class="footerLinks">
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>
                

          </ul></div>
          <div class="col-md-1 offset-md-1">
            <ul class="footerLinks">
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>

          </ul></div>
          <div class="col-md-1 offset-md-1">
            <ul class="footerLinks">
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>

          </ul></div>
          <div class="col-md-1 offset-md-1">
            <ul class="footerLinks">
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>
                <li><a href="javascript:;">examples</a></li>

          </ul></div>
      </div>
    </div>


</section>
