
@import'../../../../assets/sass/abstract/varibles';
.navbar-nav{
    .nav-item{
         margin-left: 10px;
              
         .nav-link{
            color: #000;
            font-size: 26px;
            text-transform: capitalize;
        }
    }

};