
.contact{ 
     background-color: $color-dark-1;
    .container{
        .email{
            width: 90%;
        }
       
        
    }   
    
 };

 
    .footerLinks{
        li,
        li a {
            color: $color-white;
            font-size: 1rem;
        }
    };
    



