
.fetureThumb{
     h4{
         text-transform: capitalize;
         margin-bottom: 1rem;
         color: $color-dark-1;
         font-size: 1.375rem;
         font-family: 'poppis', sans-serif;
     }
     p{
          color: $color-gray-1;
           font-size: 1rem;

     }
    };

    